.main-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    width: fill-available;
    overflow-x:hidden;
}

.main-page {
    background: white;
    height: 100vh;
    width: 100vw;
    padding-top: 70px;
}

.file-grid {
    margin-top: 40px;
}