.SearchBar {
  background-color: #e3edf7;
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.7);
  overflow: hidden;
  display: inline-grid;
  grid-template-columns: 80% 20%;
  grid-template-areas: "textArea searchBtn";
  justify-content: end;
  align-content: center;
  padding: 5px 10px;
  border: none;
  /* font-family: "Montserrat", sans-serif; */
  /* font-weight: 400; */
  /* color: #a9b8c9; */
  /* -webkit-appearance: none; */
  /* transition: all 240ms ease-out; */
  border-radius: 25px;
  /* width: 80%; */
}
input {
  grid-area: textArea;
  position: relative;
  left: 5px;

  /* padding: 16px 32px; */

  /* font-weight: 400; */
  color: #a9b8c9;
  /* -webkit-appearance: none; */
  transition: all 240ms ease-out;
  /* width: 100%; */
}

input:focus {
  color: #6d7f8f;
  /* background-color: lighten(#e3edf7, 30%); */
}
input::placeholder {
  color: #a8b9c6;
}

button {
  grid-area: searchBtn;
  background: none;
}
